<div class="list-group">
	<%@events.each do |event|%>
	<div class="well">
		<h2 class="list-group-item-heading">
			<%= link_to event.title,event_path(event)%>
		</h2>
		<p class="list-group-item-text">
			<%if signed_in?%>
				<%= confirmation_link(event) %>
			<%end%>
		</p>
	</div>
	<%end%>
</div>
